section {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(4, 250px);
}

section img {
  width: 250px;
  height: 150px;
}

section h1 {
  font-size: 20px;
}

a:hover {
  filter: brightness(1.2);
}

.country {
  width: 300px;
}

.skeleton {
  width: 300px;
  height: 450px;
}

@media screen and (max-width: 500px) {
  section {
    grid-template-columns: 250px;
  }
  .country {
    width: 200px;
  }
  .skeleton {
    width: 200px;
    height: 350px;
  }
}
