section {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(4, 250px);
}

section img {
  height: 150px;
}

section h1 {
  font-size: 20px;
}

a:hover {
  filter: brightness(1.2);
}

.country {
  width: 300px;
}

.country img {
  height: 190px;
}

@media screen and (max-width: 1200px) {
  section {
    gap: 20px;
    grid-template-columns: repeat(3, 225px);
  }
  section img {
    height: 140px;
  }
  .country {
    width: 250px;
  }

  .country img {
    height: 150px;
  }
}

@media screen and (max-width: 500px) {
  section {
    grid-template-columns: 250px;
  }
  .country {
    width: 250px;
  }
}
